{% extends("layout.html") %}

{% block body %}

  {% if processados %}
    <div class="container">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Frequência Termos</h3>
          </div>
          <div class="panel-body">
            {% for frequencia in frequencia_termos %}
              <code>{{ frequencia[0] }}, {{ frequencia[1] }}</code>
            {% endfor %}
          </div>
        </div>
      </div>
      {% for processado in processados %}
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Original</h3>
            </div>
            <div class="panel-body">
              {{ processado["original"] }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  Sem stop words
                </div>
                <div class="panel-body">
                  {{ ", ".join(processado["palavras"]) }}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  Polaridade
                </div>
                <div class="panel-body">
                  {% if processado["sentimento"] < 0 %}
                    <div class="progress">
                      <div class="active progress-bar progress-bar-striped progress-bar-danger" role="progressbar" aria-valuenow="{{ processado["sentimento"]|abs }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ processado["sentimento"]|abs }}%">
                        {{ processado["sentimento"]|abs }}%
                      </div>
                    </div>
                  {% else %}
                    <div class="progress">
                      <div class="active progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="{{ processado["sentimento"]|abs }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ processado["sentimento"]|abs }}%">
                        {{ processado["sentimento"]|abs }}%
                      </div>
                    </div>
                  {% endif %}
                  <div class="progress">
                    <div class="active progress-bar progress-bar-striped progress-bar-info" role="progressbar" aria-valuenow="{{ processado["subjetividade"] }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ processado["subjetividade"] }}%">
                      {{ processado["subjetividade"] }}%
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
