<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pesquisa Recuperação de Informação</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/todos.css') }}">

    <script src="{{ url_for('static', filename='javascript/jquery-2.1.4.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='javascript/bootstrap.min.js') }}" charset="utf-8"></script>
  </head>
  <body>
    <div class="container-fluid">

      <!-- Menu top para pesquisa -->
      {% block menu %}
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <form class="navbar-form navbar-left" role="search" method="post">
              <div class="form-group">
                <a class="navbar-brand" href="#">
                  <img width="25" height="25" src="{{ url_for('static', filename='images/logo.jpg') }}" />
                </a>
              </div>
              <div class="form-group">
                <input type="text" name="hashtag" class="form-control" placeholder="Insira uma #hashtag">
              </div>
              <div class="form-group">
                <input type="text" name="profundidade" class="form-control" style="width:50px;">
              </div>
              <div class="form-group">
                <select class="form-control" name="polaridade">
                  <option value="">Polaridade...</option>
                  <option value="positiva">Positiva</option>
                  <option value="negativa">Negativa</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" name="booleano" class="form-control" placeholder="Contains (booleano)">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default">Pesquisar</button>
              </div>
            </form>
          </div>
        </nav>
      {% endblock %}

      <!-- container para conteúdo principal -->
      <div class="row principal">
        {% block body %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
